<nav class="fix_top shadow_bottom" style="background: url(<%LAYOUT_TAG%>img/ico/menu.png); padding:4px 0px; position: fixed; z-index: 100;">
	<div class="container">
		<div class="fluid_grid_4">
			<div class="fluid_grid_16">
				<a href="/" title="<%SYSTEM_NAME_TR%>">
					<img src="<%LAYOUT_TAG%>img/ico/logo.jpg" alt="<%SYSTEM_NAME_TR%>" style="max-width: 32px; border-radius: 15px; opacity: 0.5;">
				</a>
			</div>
		</div>
		<div class="fluid_grid_8">
			<div class="fluid_grid_16 text_center color_white heading3 other" style="padding-top: 3px;">
				<%SYSTEM_NAME_TR%>
			</div>
		</div>
		<div class="fluid_grid_4 text_right" style="padding-top: 9px;">
			<ul class="inline color_white heading8">
				<li class="mark_blue small1 aling_midlle text_right" style="color: #555;"><%CREATED_BY_TR%>:
					<%DYON_ENEDI_TR%>
				</li>
			</ul>
		</div>
	</div>
</nav>