<nav class="navbar navbar-inverse navbar-fixed-top no-margin">
    <div class="container content">
        <ul class="nav navbar-nav upper">
            <%PANEL%>
            <li class="bold <%HOM_ACTIVE%>"><a href="/"><%LIDIUN_TR%></a></li>
            <li class="bold <%ABO_ACTIVE%>"><a href="/about/"><%ABOUT_TR%></a></li>
            <li class="bold <%PLA_ACTIVE%>"><a href="/playground/"><%PLAYGROUND_TR%></a></li>
            <li class="bold <%DOC_ACTIVE%>"><a href="/documentation/"><%DOCUMENTATION_TR%></a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
        	<li class="bold <%LOG_ACTIVE%>"><a href="/<%LOGIN_LINK%>/"><%LOGIN%></a></li>
        </ul>
    </div>
</nav>
<hr class="clear-40">
<hr class="clear-05">