<form id="recoveringForm">
	<input type="hidden" name="render" value="recovering">
    
    <div class="input-group input-group-lg">
	  <span class="input-group-addon">@</span>
	  <input type="email" name="email[email]" class="form-control" placeholder="Email address" required="" autofocus="" autocomplete="on">
	</div>
	<hr class="clear-20">

	<div class="input-group input-group-lg">
	  <span class="input-group-addon">#</span>
	  <input type="password" class="form-control" name="password[password]" placeholder="Password" required="" id="password">
	</div>
	<hr class="clear-20">

	<div class="input-group input-group-lg">
	  <span class="input-group-addon">#</span>
	  <input type="password" class="form-control" placeholder="Password confirmation" required="" oninput="check(this)">
	</div>
	<hr class="clear-20">

    <button type="submit" class="btn btn-sm btn-blue"><%SEND_TR%></button>
</form>


<script type="text/javascript">
	function check(input) {
		if (input.value != document.getElementById('password').value) {
	    	messageBar('The two password must match.');
	  	}
	}

	$(document).ready(function(){
		$('#recoveringForm').submit(function(e){
			var formId = this.id;
			e.preventDefault();
			var data = _submit(formId);
			if (data.reply) {
				redirect('login');
			} else {
				alertBar(data.message);
			}
		});
	});
</script>