<div class="container">
	<hr class="clear_100">
	<div class="col-sm-6 text_center">
		<img src="<%DEFAULT_PATH%>fabrica.png"/ class="col-sm-12">
	</div>
	<div class="col-sm-6 text_center">
		<h2 class="color_white font_title font_size_7" style="line-height: 35px;">
			<%HOME_TEXT_TR%>
		</h2>
	</div>
	<hr class="clear_20">
	<hr class="divider_10">
	<div class="col-sm-6 text_center">
		<hr class="clear_30">
		<button type="button" onClick="getLanguage();" class="btn btn-lg btn-primary"><%DOCUMENTATION_TR%></button>
	</div>
	<div class="col-sm-6 text_center">
		<hr class="clear_30">
		<a href="/download/" class="unlink"><button type="button" class="btn btn-lg btn-primary"><%DOWNLOAD_TR%></button></a>
	</div>
	<hr class="clear_40">
</div>