<div class="col-sm-12" style="background: #7CC565; position: relative; z-index: 999;">
	<hr class="clear_10">
	<div class="container">
		<div class="col-sm-2">
			<img src="<%DEFAULT_PATH%>lidiun.png"/ class="col-sm-12 no_padding"/>
		</div>		
		<div class="col-sm-10 color_white font_title font_size_9">
			<hr class="clear_20">
			<h1><%SYSTEM_NAME_TAG%></h1>
		</div>
	</div>
	<hr class="clear_10">
</div>
<div class="progress_bar" id="progress_bar"></div>
<div class="message_bar" id="message_bar"></div>