<div class="grid-4 box tx-2 fs-4" style="margin-bottom: 30px;">
	<div class="col-20 text-center">
		<img src="<%PLUGIN_TYPE_PATH%><%IMAGE%>.png" class="img-thumbnail img-circle">
	</div>
	<div class="col-20">
		<hr class="divider-10">
		<hr class="clear-5">
		<h5 class="cl-blue bold"><%NAME%></h5>
		<p class="cl-gray" style="height: 70px;"><%DESCRIPTION%><br>Data: <%DATE%></p>
		<p class="cl-blue fs-3">Desenvolvido por: <%DEVELOPER%></p>
		<a href="<%PUBLIC_PATH%>plugin/dyonenedi/<%LINK%>.rar" class='cl-green bold fs-4'>
			<i class="glyphicon glyphicon-star cl-gray"></i><i class="glyphicon glyphicon-star cl-gray"></i><i class="glyphicon glyphicon-star cl-gray"></i><i class="glyphicon glyphicon-star cl-gray-lg"></i><i class="glyphicon glyphicon-star cl-gray-lg"></i> 
			 DOWNLOAD
		</a>
	</div>
</div>
