<header>
	<div class="container content">
		<div class="container">
			<hr class="clear-60">
			<div class="box-3 color_black2 text_center box_rounded" style="background: rgba(255,255,255, .8);">
				<h1 class="color_blue2 heading1 sourcesans1" >Lidiun Framework</h1>
				<hr class="clear-10">
				<div class="fluid_grid_2"></div>
				<div class="fluid_grid_12">
					<h2 class="color_black2 sourcesans3 heading6">"Nós acreditamos que pessoas, quando juntas, podem tornar o impossível uma possibilidade."</h2>
				</div>
				<div class="fluid_grid_2"></div>
			</div>
		</div>
	</div>
</header>
