<div class="fix_top shadow_bottom" style="height: 40px; background: url(<%ICON_TAG%>menu.png); position: fixed; z-index: 1000;">
	<div class="container" style="height: 32px; padding:4px 0px;">
		<div class="fluid_grid_16 text_center" style="height: 32px;">
			<a href="/" class="undecoration" title="Wittle" alt="Wittle">
				<img src="<%ICON_TAG%>logo.jpg" style="width: 58px; border-radius: 100%;"/>
			</a> 
		</div>
	</div>
	<div class="progress_bar" id="progress_bar"></div>
	<div class="message_bar" id="message_bar"></div>
</div>