<div class="grud-1 cl-white text-center bg-purple">
	<hr class="clear-10">
	<h1 class="fs-12 shadow-black">#<%ABOUT_US_TR%></h1>
	<hr class="clear-10">
	<p class="fs-7 shadow-black"><%FRASE_ABOUT_1_TR%></p>
	<hr class="clear-10">
</div>
<div class="container full-screen">
	<div class="grud-1 box-top">
		<h3><%FRASE_ABOUT_2_TR%></h3>
		<p>
			<%TEXT_ABOUT_1_TR%> 
		</p>
		<P>
			<%TEXT_ABOUT_2_TR%> 
		</P>
		<P>
			<%TEXT_ABOUT_3_TR%> 
		</P>
		<P>
			<span class="fs-4 italic cl-blue">"<%FRASE_ABOUT_3_TR%>." - Dyon Enedi<span>
		</p>
		<hr class="divider-10">
		<hr class="clear-10">
		<%USER_BOX%>
	</div>
</div>