<div class="grud-1 cl-white text-center bg-yellow-lg">
	<hr class="clear-40">
	<h1 class="fs-12 shadow-black">#<%DOCUMENTATION_TR%></h1>
	<hr class="clear-10">
	<p class="fs-7 shadow-black"><%FRASE_DOCUMENTATION_1_TR%></p>
	<hr class="clear-10">
</div>

<div class="bg-yellow-lg" style="position: fixed;width: 100%;top: 50px;left: 0;z-index: 100;padding: 8px;">
	<div class="container">
		<div class="input-group input-group-sm">
			<input id="search-box" type="text" autocomplete="off" class="form-control" placeholder="Pesquisar na documentação" autofocos=""> 
	 	 	<span class="input-group-addon btn btn-blue" id="next">Next</span>
		</div>
	</div>
</div>

<section class="container full-screen">
    <div class="box-top box-white">
        <div class="col-5">
        	<div class="list-group">
				<a href="/documentation/design_pattern/" class="list-group-item <%1_ACTIVE%>">
					<p class="list-group-item-text"><%TITLE_DOCUMENTATION_1_TR%></p>
				</a>
				<a href="/documentation/structure/" class="list-group-item <%2_ACTIVE%>">
					<p class="list-group-item-text"><%TITLE_DOCUMENTATION_2_TR%></p>
				</a>
				<a href="/documentation/tutorial/" class="list-group-item <%3_ACTIVE%>">
					<p class="list-group-item-text"><%TITLE_DOCUMENTATION_3_TR%></p>
				</a>
				<a href="/documentation/native/" class="list-group-item <%4_ACTIVE%>">
					<hp4 class="list-group-item-text"><%TITLE_DOCUMENTATION_4_TR%></p>
				</a>
		    </div>
        </div>
        <div class="col-15" style="padding-left: 30px;">
        	<%STEP%>
        </div>
		<hr class="clear-20">
    </div>
</section>