<div class="grud-1 cl-white text-center bg-orange-lg">
	<hr class="clear-10">
	<h1 class="fs-12 shadow-black">#<%LIDIUN_TR%></h1>
	<hr class="clear-10">
	<p class="fs-7 shadow-black"><%FRASE_HOME_1_TR%></p>
	<hr class="clear-10">
</div>
<section class="container full-screen">
	<div class="grud-1 block box-top">
		<div class="grud-2">
			<hr class="clear-10">
			<h3><%FRASE_HOME_2_TR%></h3>
			<p>
				<%FRASE_HOME_3_TR%>
				<hr class="clear-10">
				<%TEXT_HOME_1_TR%>
			</p>
			<a href="http://www.lidiun.com/downloading/" class="btn btn-sm btn-green" target="_blank"><%DOWNLOAD_TR%></a>
			<hr class="clear-10">
		</div>
		<div class="grud-2">
			<hr class="clear-10">
			<h3><%FRASE_HOME_4_TR%></h3>
			<p>
				<%FRASE_HOME_5_TR%> <a href="http://www.lidiun.com/" class="label label-info"><%GO_TR%>!</a><br> 
				<%FRASE_HOME_6_TR%> <a href="http://www.lidiun.com/" class="label label-info"><%GO_TR%>!</a><br> 
				<%FRASE_HOME_7_TR%> <a href="http://www.lidiun.com/" class="label label-success" target="_blank"><%DOWNLOAD_TR%>!</a><br> 
				<%FRASE_HOME_8_TR%> <a href="http://www.lidiun.com/" class="label label-info"><%GO_TR%>!</a><br>
			</p>
			<span class="cl-orange-lg fs-5"><%FRASE_HOME_9_TR%> <a href="http://www.lidiun.com/" class="label label-info"><%CLICK_HERE_TR%></a></span>
			<hr class="clear-10">
		</div>
	</div>
</section>