<div class="grud-1 cl-white text-center bg-yellow">
	<hr class="clear-10">
	<h1 class="fs-12 shadow-black">#<%LICENSE_TR%></h1>
	<hr class="clear-10">
	<p class="fs-7 shadow-black"><%FRASE_LICENSE_1_TR%></p>
	<hr class="clear-10">
</div>
<div class="container full-screen">
	<hr class="clear-30">
	<p>
		<strong><%ATTRIBUTION_TR%></strong> — <span rel="cc:requires" resource="http://creativecommons.org/ns#Attribution"><%FRASE_LICENSE_4_TR%> <a href="#" id="appropriate_credit_popup" class="helpLink"><%FRASE_LICENSE_5_TR%></a></span>, <%FRASE_LICENSE_6_TR%>, <%AND_TR%> <span rel="cc:requires" resource="http://creativecommons.org/ns#Notice"><a href="#" id="indicate_changes_popup" class="helpLink"><%FRASE_LICENSE_7_TR%></a></span>.  <%FRASE_LICENSE_8_TR%>
		<span id="by-more-container"></span>
	</p>

	<p id="work-attribution-container" style="display:none;">
		<strong>
	  		<%FRASE_LICENSE_9_TR%>
		</strong>
		<br>
		<input id="work-attribution" value="" type="text" readonly="readonly" onclick="this.select()" onfocus="document.getElementById('work-attribution').select();">
		<input id="license-code" type="hidden" value="CC BY-SA 4.0">
		<input id="license-url" type="hidden" value="http://creativecommons.org/licenses/by-sa/4.0/">
		<a href="" id="attribution_help" class="helpLink">
			<img src="/images/information.png" alt="Information">
		</a>
	</p>

	<div class="yui-panel-container" id="help_attribution_help_c">
		<div id="help_attribution_help" class="yui-module yui-overlay yui-panel" style="visibility: inherit;">
			<div class="hd">
				<%FRASE_LICENSE_10_TR%>
			</div>
			<div class="bd">
			  <%FRASE_LICENSE_11_TR%>
			</div>
		</div>
	</div>

	<p>
	    <strong><%SHARE_A_LIKE_TR%></strong><%FRASE_LICENSE_12_TR%><a href="#" id="same_license_popup" class="helpLink"><%FRASE_LICENSE_13_TR%></a><%FRASE_LICENSE_14_TR%>
	    <span id="sa-more-container"></span>
	</p>

    <hr class="clear-20">

	<div class="grud-1 box-top">
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
			<img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
			<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Framework</span> <%FROM_TR%> <a xmlns:cc="http://creativecommons.org/ns#" href="www.lidiun.com" property="cc:attributionName" rel="cc:attributionURL">Dyon Enedi</a> <%FRASE_LICENSE_2_TR%> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><%FRASE_LICENSE_3_TR%></a>.
	</div>
</div>