<div class="grud-18 cl-white text-center bg-green-lg">
	<hr class="clear-10">
	<h1 class="fs-12 shadow-black">#<%UP_APP_TR%></h1>
	<hr class="clear-10">
	<p class="fs-7 shadow-black"><%FRASE_PLAYGROUND_1_TR%></p>
	<hr class="clear-10">
</div>
<div class="container full-screen">
	<div class="grud-18">
		<div class="col-5"></div>
		<div class="col-10 box-top">
			<div class="block">
				<%UPAPP%>
			</div>
			<hr class="clear-10">
		</div>
		<div class="col-5"></div>
	</div>
</div>